.card{
    width:30rem;
    margin:auto;
    /* background:linear-gradient(rgba(244, 228, 126, 0.785),rgba(235, 235, 7, 0.936)); */
}
.card .form-group label{
    font-weight: 600;
    margin-bottom: 5px;
}
.card .form-group input{
    margin-bottom: 10px;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}
.warning-message{
    color:red;
    margin-bottom: 5px;
}
.btn{
    width:9rem;
}
main{
    width:100%;
    height:90vh;
    background: linear-gradient(to right,rgba(234, 44, 44, 0.941),rgba(245, 149, 149, 0.694));
    padding-top:2rem
}
.heading{
    text-align: center;
}
.heading h5{
  color:rgb(140, 255, 0);
  font-size: 30px;
  font-family: italic;
}
.heading h5::first-letter{
   font-size: 60px;
   color: rgb(140, 255, 0);
   font-family:italic;
}